@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;;
}
.Header{ 

    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
.logo{
    width: 30%;

}
.logo img{
    margin-left: 70px;
    width: 130px;
}
.menu{
    width: 40%;
   
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    color: #3D3755;
    margin-top: 5px;
    margin-left: 210px;
    font-size: 16px;
}
.nav a{
        text-decoration: none;
        color: #3D3755;
        font-weight: 500;
}
.buth{
    width: 30%;
}
.buth button{
    background-color:#3D3755;
    width: 110px;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-weight: 800;
    margin-left: 120px;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homet{
    text-align: center;
    margin-top: 120px;
    font-size: 28px;
}
.homet h3{
    color: #3D3755;
}

.message{
    width: 400px;
    height: 50px;
    background-color: #c2c1c5;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 40px;
}
.message h4{
    color: #3D3755;
    margin-right: 150px;
}

.icon{
    
    width: 40px;
    height: 30px;
    background-color: #3D3755;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    color: #fff;
}
